/* GLOBAL STYLES MOBILE*/

html{
  background-color: #FFF9E1;
  color: #291A0C;
}

body{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper{
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* WELCOME PAGE HEADER - MOBILE */
header{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;  
  margin: 0;
}

header img {
  width: 400px;
}

header nav{
  width: 100%;
  margin: 0;
}

nav ul li {
  list-style: none;
}

/* WELCOME PAGE MAIN - MOBILE */

/* WELOCME PAGE FOOTER - MOBILE */

