/* GLOBAL STYLES MOBILE*/

html {
  background-color: #FFF9E1;
  color: #291A0C;
}

body {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

/* WELCOME PAGE HEADER - MOBILE */

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

header img {
  width: 350px;
  margin: 0;
}

header nav {
  width: 90%;
  margin: 0 0 15px 0;
  border-bottom: 5px dotted black;
  border-top: 5px dotted black;
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* WELCOME PAGE MAIN - MOBILE */
main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


.photo-roll {
  margin: 20px 0;
}

.photo-roll img {
  width: 200px;
  display: flex;
  flex-flow: row wrap;
}

.homepage-summary {
  margin: 0;
  width: 90%;
}

.homepage-summary h1 {
  font-size: 30px;
  line-height: 40px;
  margin: 25px 0 0 0;
}

.homepage-summary p {
  font-style: italic;
  line-height: 30px;
  margin: 15px 0 30px 0;
}

.specials-wrapper{
  border: 5px solid white;
}


/* WELOCME PAGE FOOTER - MOBILE */